* text=auto

.gitattributes text eol=lf
.gitignore text eol=lf
*.py text eol=lf
*.toml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf
*.json text eol=lf

*.png binary
*.ico binary
*.sqlite3 binary
*.zip binary
*.exe binary
